In [1]:
t1=('apple','ball','cat','dog')

In [2]:
l1=['money','cheque','cash']
t2=tuple(l1)

In [3]:
t2

('money', 'cheque', 'cash')

In [4]:
max(t1)

'dog'

In [6]:
#dictionary
d1={}
type(d1)

dict

In [11]:
d1={'a':'apple','b':'ball','c':'cat'}
d1

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [12]:
d1.items()

dict_items([('a', 'apple'), ('b', 'ball'), ('c', 'cat')])

In [3]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [9]:
d1.values()

dict_values(['apple', 'ball'])

In [13]:
d1.pop('c')
d1

{'a': 'apple', 'b': 'ball'}

In [14]:
d1.popitem()

('b', 'ball')

In [15]:
d1.update({'c':'bat'})

In [16]:
d1

{'a': 'apple', 'c': 'bat'}

In [17]:
d1.get('a')
d1

{'a': 'apple', 'c': 'bat'}

In [18]:
d1.update({'c':'mat'})

In [19]:
d1

{'a': 'apple', 'c': 'mat'}

In [20]:
def myfunction(l1):
    
    if j in l1%

SyntaxError: invalid syntax (<ipython-input-20-733f200900d0>, line 3)

In [59]:
listA = [23,34,66,77,88,55]

def select_odd(listB):
    odd_list=[]
    for number in (listB):
        if number%2 !=0:
            odd_list.append(number)
    return odd_list

In [58]:
select_odd(listB)

NameError: name 'listB' is not defined

In [23]:
def unique_num(listC):
    unique_list=[]
    for y in listC:
        if y not in unique_list:
            unique_list.append(y)
    return unique_list

In [21]:
listd = [2,2,2,4,6,7,8,4,4,4]
unique_num(listd)#funtcion call

NameError: name 'unique_num' is not defined

In [76]:
def sum_values(dictA):
    sum1=0
    for y in dictA.values():
        sum1=y+sum1
    return sum1

In [24]:
dictd = {'a':1,'b':4}
sum_values(dictd)

NameError: name 'sum_values' is not defined

In [3]:
num = 9
if num > 1:
   # check for factors
   for i in range(2,num+1):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

9 is not a prime number
3 times 3 is 9
3
9 is not a prime number
9 times 1 is 9
9
9 is a prime number